{% extends "base.html" %}


{% block content %}
    <h1>
    TODO list
    <a href="{% url 'todo:task-create' %}" class="btn btn-primary link-to-page">
      Add task
    </a>
  </h1>
    <ul class="mt-6">
            {% for task in task_list %}
                <li>
                <p class="mt-4">
                    <strong>{{ task.content }}</strong>
                        {% if not task.is_done %}
                            <strong class="text-success">
                                Done
                            </strong>
                        {% else %}
                            <strong class="text-danger">
                                Not done
                            </strong>
                        {% endif %}
                        <form action="{% url 'todo:toggle-task-status' task_id=task.id %}" method="post">
                        {% csrf_token %}
                        <input type="submit"
                               value="{% if task.is_done %}Complete{% else %}Undo{% endif %}"
                               class="btn {% if task.is_done %}btn-success{% else %}btn-secondary{% endif %} link-to-page rounded">
                        </form>
                </p>
                    <p>created: {{ task.created }} {% if task.deadline %} {{ task.deadline }} {% endif %}</p>
                    <strong class="text-secondary">Tags:
                {% for tag in task.tags.all %}
                    {{ tag.name }}
                {% endfor %}
                    <a class="mb-6" href="{% url 'todo:task-update' pk=task.pk %}">Update</a> <a href="{% url 'todo:task-delete' pk=task.pk %}">Delete</a>
                    </strong>
                    <p class="text-secondary">--------------------------------------------------------------</p>
                </li>
            {% endfor %}
    </ul>

{% endblock %}